$flash-duration: 1s;
$flash-easing: ease-out;
$flash-color: #fbf8b2;

.flash {
  -moz-animation: flash $flash-duration $flash-easing;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash $flash-duration $flash-easing;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash $flash-duration $flash-easing;
  -ms-animation-iteration-count: 1;

	animation: flash $flash-duration $flash-easing;
}

@-webkit-keyframes flash {
  0%  { background-color: $flash-color; }
  100% { background-color: none; }
}

@-moz-keyframes flash {
  0%  { background-color: $flash-color; }
  100% { background-color: none; }
}

@-ms-keyframes flash {
  0%  { background-color: $flash-color; }
  100% { background-color: none; }
}

@keyframes flash {
  0%  { background-color: $flash-color; }
  100% { background-color: none; }
}
